.khan__buy-link{
  color: #2f80ed;
  text-decoration: none;
  line-height: 42px;
  font-size: 30px;
  font-weight: 400;
  margin-left: 48px;
  align-self:flex-start;
  transition: opacity 0 ease 0s;  
}

.khan__buy-link:hover{
  opacity: 0.6;
}